.relative_global_wrapper{id: "root_wrapper"}
  .wallpaper_wrapper
  #global_header.header_container.chefs_hat
    .head_inner
      .service_menu.f_left.compact_mode
        %ul.list_inline
          %li.first
          %li.service_index
