#wrapper
  #container
    #contents
      .main650.no_default_main#main
        .box#feature_box
          .left_container
            .title_bar.service_list_title
              %a レシピ関連サービス
            %ul.services.recipe_services
              %li.recipe
                %a
                  =image_tag("all_recipes.png", width: 24, height: 19, class: "icon_font_with_text")
                  %span.service_name みんなのレシピ
              %li.recipe
                %a
                  =image_tag("pro_recipes.png", width: 24, height:19, class: "icon_font_with_text")
                  %span.service_name プロのレシピ
              %li.recipe
                %a
                  =image_tag("kondate.png", width: 24, height: 19, class: "icon_font_with_text")
                  %span.service_name 献立
              %li.recipe
                %a
                  =image_tag("movie.png", width: 24, height: 19, class: "icon_font_with_text")
                  %span.service_name 料理動画
              %li.recipe
                %a
                  =image_tag("cook.png", width: 24, height: 19, class: "icon_font_with_text")
                  %span.service_name 話題のキッチン
            %h3.title_bar.border_top
              %a プレミアムサービス
            .premium
              %ul.services
                %li.recipe
                  %a
                    =image_tag("kanmuri.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name 人気順検索
                %li.recipe
                  %a
                    =image_tag("123.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name レシピランキング
                %li.recipe
                  %a
                    =image_tag("dendou.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name 殿堂入りレシピ
                %li.recipe
                  %a
                    =image_tag("senmon.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name 専門家厳選レシピ
                %li.recipe
                  %a
                    =image_tag("prekondate.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name プレミアム献立
              .more_link
                %a もっと見る
            %h3.title_bar.life_service_list_title
              %a 生活関連サービス
            .life_services
              %ul.services
                %li.recipe
                  %a
                    =image_tag("news_image.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name 料理ニュース
                %li.recipe
                  %a
                    =image_tag("kyousitu.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name 料理教室
                %li.recipe
                  %a
                    =image_tag("naraigoto.png", width: 24, height: 19, class: "icon_font_with_text")
                    %span.service_name 習い事
              .more_link
                %a もっと見る
          .right_container.pickup_contents
            .inner
              .pickup_recipe_wrapper
                .pickup_image
                  %a
                    =image_tag("kiribosi.png", width: 447, height: 251, class: "pickup_recipe_photo")
                .pickup_recipe_info
                  .date
                    %span 11
                    月
                    %span 11
                    日
                    %br
                    おすすめ
                  .recipe_text
                    %a
                      %span.recipe_title 切り干しだいこん
                      %span.user_name tanaka tarou
              .cookpad_news
                %h3.title_right
                  %a ニュース
                %ul.latest_articles
                  %li.feature
                    %a.mediabox
                      .media_object
                        =image_tag("udon.png", width: 100, height: 100, class: "media_object_image" )
                      .media_body
                        .article_title 山梨ケンミン熱愛！吉田のうどん
                        .article_description
                          %span.lead 11/9放映の「秘密のケンミンshow」で紹介された、山梨ケンミン熱愛の「吉田のうどん」をチェック！
                  %li.odd.topic
                    %a りんご＆さつまいもチーズケーキ
                  %li.even.topic
                    %a レンジ２分！チンゲン菜のおひたし
                  %li.odd.topic
                    %a レンジで作る「パラパラ炒飯」！
                  %li.even.topic
                    %a 柿の「種」が楽に取れる裏技！
                .more_link
                  %a もっと見る
        .spotlight_panel
        .recipe_box
          %h2.title_border レシピ
          .clearfix
            .left_content.ranking_recipes
              .not_login_user.free_login_user
                %h3.title_bar_access
                  %a デイリーアクセス数ランキング
                %a
                  %ul.for_non_ps
                    %li.first_recipe
                      =image_tag("ichiban.png", width: 40, height: 40, class: "crown")
                      .image
                        =image_tag("kiribosi.png", width: 198, height: 198, class: "top_recipe_img")
                    %li.second_recipe
                      =image_tag("niban.png", width: 40, height: 40, class: "crown")
                      .image
                        =image_tag("udon.png", width: 94, height: 94, class: "top_recipe_img")
                    %li.third_recipe
                      =image_tag("sanban.png", width: 40, height: 40, class: "crown")
                      .image
                        =image_tag("coffee.jpeg", width: 94, height: 94, class: "top_recipe_img")
                  .lead_to_about
                    %span.focus_text みんなが見た人気のレシピ２０品
            .right_content_hot_recipes
              .inner
                %h3.hot_title_bar
                  %a 話題のレシピ
                  %span.description つくれぽ１０人おめでとう！
                .hot_recipes_inner
                  .partial-async-view
                    %ul
                      %li.popular_recipe
                        %a
                          =image_tag("suko-n.png", width: 94, height: 94, class: "pop_recipe_img")
                          %span.pop_recipe_title パリッパリ！手が止まらないスコーン♪
                          %span.pop_user_name hanako
                      %li.popular_recipe
                        %a
                          =image_tag("akai_udon.png", width: 94, height: 94, class: "pop_recipe_img")
                          %span.pop_recipe_title 赤いうどん
                          %span.pop_user_name satou
                      %li.popular_recipe.last
                        %a
                          =image_tag("oniku.png", width: 94, height: 94, class: "pop_recipe_img")
                          %span.pop_recipe_title ハンバーグをリメイク！
                          %span.pop_user_name tokumei-san
                    .more_link
                      %a もっと見る
