#wrapper
  #container
    #contents
      .main650.no_default_main#main
        .box#feature_box
          .left_container
            .title_bar.service_list_title
              %a レシピ関連サービス
            %ul.services.recipe_services
              %li.recipe
                %a.analytics_tracking
                  %span.color_recipe.icf_recipe.icon_font_with_text
                    %span.service_name みんなのレシピ
