#wrapper
  #container
    #contents
      .main650.no_default_main#main
        =form_for @recipe, html: {class: "recipe_show_wrapper"} do |f|
          .block20.box.hrecipe#recipe
            .links_for_recipe_author
              .link_to_author_kitchen
                %a #{@recipe.user.user_name}のレシピ
              .setting_and_delete_link
                %a 印刷
                |
                %a 削除
            #recipe-main.clearfix
              #recipe-title.clearfix
                .recipe-title.fn.clearfix
                  #recipe_title_id_in_place_editer.title
                    #{@recipe.title}
                  =f.text_field :title, id: "hidden_title_field"
                  %button.edit_ok_button 保存
              #main-photo.clearfix
                #recipe_photo_wrapper.clickable_image_uploader_wrapper
                  %form#recipe_image_form.uploader_form
                    =image_tag("place_main_image.png", width: 280, height: 383, class: "uploader")
              .desc-and-ingredients
                #description.summary
                  #recipe_description_userid_in_place_editer.in_place_editor_field
                    %span.inplaceeditor-empty
                      クリックしてこのレシピのキャッチコピーを入力
                  #recipe_author_info_wrapper.right
                    =image_tag("#{@recipe.user.icon_image}", width: 22, height: 22, class: "author_icon")
                    %a#recipe_author_name.author
                      #{@recipe.user.user_name}
                #ingredients_wrapper
                  .link-to-ingredient-list
                    #ingredients
                      =image_tag("recipe_sample.png", width: 310, height: 217)
            #sk_product_recipe_promotion
            #steps
              .step
                %dl
                  %dt
                    .f_left
                      %span.step-position 1
                      %a.step_move_higher ←
                      %a.step_move_lower →
                    .f_right
                      %a.step_remove 削除
                      %a.step_add 追加
                    .clear
                  %dd
                    .clickable_image_uploader_wrapper.step_photo_wrapper
                      %form#step_photo_form.uploader_form
                        %img#step_photo.uploader{src: "/assets/place_image.png", width: 136, height: 27}
                    #step_text.font14
                      #step_memo_in_place_editor.in_place_editor_field{style: "background-color: transparent; background-image: none; opacity: 1;"}
                        %span.inplaceeditor-empty
                          クリックして作り方を入力
            .clear
            #memo_and_history.clearfix
              #memo_wrapper.block
                %h3.borderles コツ・ポイント
                #advice.text_content
                  #recipe_advice_in_place_editor.in_place_editor_field{style: "background-color: transparent;"}
                    %span.inplaceeditor-empty
                      クリックしてコツやポイントを入力
              #history_wrapper.block
                %h3.borderles このレシピの生い立ち
                #history.text_content
                  #recipe_history_in_place_editor.in_place_editor_field{style: "background-color: transparent;"}
                    %span.inplaceeditor-empty
                      例）母から教わったレシピを、家族が好む甘めの味付けにアレンジしました
                      %br
                        例）○○番組で紹介されたレシピを、家にある材料で簡単に作れるよう工夫しました

      #side.mykitchen_side_column
        .draft_box
          .messages_to_publish
            %form#confirm_publish_form.edit_recipe
              %input.button.attention{type: "submit", name: "commit", value: "レシピを公開する"}

  #colorbox
    #cboxWrapper
      .cboxContent{style: "float: left; width: 460px; height: 432px"}
        #cboxLoadedContent{style: "width: 450px; overflow: auto; height: 420px; background: rgb(255, 255, 255);"}
          #ingredients_edit
            #ingredient_list
              %form#save-ingredient
                .serving_container#servings
                  (
                  %input{type: "text", name: "serving_for", class: "servings", id: "serving_for", placeholder: "何人分"}
                  )
                  %span 例)2人分
                .clear
                #list_header.list_header
                  %span.name 材料・調味料
                  %span.quantity 分量
                #edit-ingredients-list.sara_sortable_parent
                  #ingredient-row.row.sara_sortable.sara_sortable_block
                    .sortable_line
                      .sortable_line_inner
                        =image_tag("drag_icon", class: "drag")
                        %span.name
                          %input.text-field.sortable_line_name{type: "text", placeholder: "例) 豚肉"}
                        %span.quantity
                          %input.text-field.sortable_line_quantity{type: "text", placeholder: "例) 350g"}
                        %a
                          =image_tag("delete_icon.png", class: "delete")
                .footer_list
                  .add_ingredient_field
                    %input.append_line{type: "button", value: "行を追加する"}
                  .clear
                .submit.save
                  #ingredients_submit_button
                    %input.submit_button{type: "submit", name: "commit", value: "保存して閉じる"}
        =image_tag("close_button.png", id: "cboxClose")

