#wrapper
  #container
    #contents
      .main650#main
        #name_editer
          #two-col-left.kitchen
            %h1.page_title
              ニックネームの変更
            =form_for @user do |f|
              %p.notice
                ※３〜１０文字以内。半角記号・スペース・絵文字は使用できません。
              %table.table_basic#edit_user_name_table
                %tbody
                  %tr
                    %th 現在のニックネーム
                    %td #{@user.user_name}
                  %tr
                    %th 新しいニックネーム
                    %td
                      =f.text_field :user_name, id: "user_name"
              .block5.center
                =f.submit "ニックネームを変更する", class: "button submit"
              .block5.center
                =link_to ,"登録情報に戻る"
                /%a 登録情報に戻る
