#wrapper
  #container
    #contents
      .main650.no_default_main#main
        #kitchen_header
          #header_image_wrapper
          .header_bottom
            .user_icon
            .user_name
              #{current_user.user_name}
              %span のキッチン
