#wrapper
  #container
    #contents
      .main650.no_default_main#main
        #updated_name
          #two-col-left.kitchen
            %h1.page_title ニックネームの変更
            .block10_0
              .ok_message ニックネームを変更しました
            .block5.center
              =link_to "登録情報に戻る", edit_user_path(current_user.id)
